@page "/query-lavorazioni"
@inject BlazorDematReports.Core.Services.Interfaces.IDataService.IServiceFasiLavorazioni ServiceFasiLavorazioni
@inject BlazorDematReports.Core.Services.Interfaces.IDataService.IServiceProcedureLavorazioni ServiceProcedureLavorazioni
@inject BlazorDematReports.Core.Services.Interfaces.IDataService.IServiceQueryProcedureLavorazioni ServiceQueryProcedureLavorazioni
@attribute [Authorize(Roles = "ADMIN,RESPONSABILE,SUPERVISOR")]
@implements IAsyncDisposable
@inherits BaseComponentPage<PageQueryLavorazione,QueryProcedureLavorazioniDto,QueryProcedureLavorazioniDto>

<MudText Typo="Typo.h4" Class="titolo ml-4">Archivio Query SQL</MudText>

<MudDivider Class="border-solid border-1 mud-border-primary "></MudDivider>

<MudContainer  MaxWidth="MaxWidth.False" >
    
    <MudAlert Severity="Severity.Info" Class="my-4">
        <MudText Typo="Typo.body2">
            <b>Nota:</b> Questa pagina è utilizzata per <b>archiviare query SQL</b> che possono essere recuperate e utilizzate esternamente al progetto.
        </MudText>
        <MudText Typo="Typo.body2" Class="mt-2">
            Per configurare query da utilizzare nei task automatici, vai alla pagina 
            <MudLink Href="/admin/fonti-dati" Typo="Typo.body2" Underline="Underline.Always">Configurazione Fonti Dati</MudLink>.
        </MudText>
    </MudAlert>

    <MudGrid Class="mt-0">
        <MudItem sm="12" xs="12" md="12" lg="12" xl="12">

            <MudCard Style="height: 100%">
            <MudCardContent>

                <MudCardContent Class="pa-0">
                    <MudText Typo="Typo.h6">Nuova Query Archivio</MudText>
                </MudCardContent>

                <EditForm EditContext="@EditContext" OnValidSubmit="HandleValidSubmit">
                    <PageQueryLavorazioniProvider />

                    <MudFocusTrap Disabled="false" DefaultFocus="DefaultFocus">

                        <MudGrid Class="mt-1" >

                            <MudItem sm="12" xs="12" md="12" lg="12" xl="12">

                                @*Lavorazione*@
                                <MudAutocomplete T="string" 
                                            Label="Lavorazione"
                                            SearchFunc="@((string arg,CancellationToken ct) => SearchFromSelect(base.SelectLavorazione,arg))"
                                            MaxItems=null
                                            Immediate="true"
                                            Clearable=true
                                            ResetValueOnEmptyText="true"
                                            SelectOnActivation="true"
                                            Required="true"
                                            Dense=true
                                            Value="@Model!.NomeProcedura"
                                            Text="@Model.NomeProcedura"
                                            ValueChanged="@((string arg) => OnValueChangedLavorazione(arg))" 
                                            @ref="@RefLavorazioni" 
                                            For="(() => Model.NomeProcedura)"
                                            TextChanged="@(_ => ValidateForm())"/>


                                    <MudTextField  @bind-Value="Model.Titolo" Label="Titolo Query (es: Scansione)" Variant="Variant.Text"
                                                    Required=true
                                                    For="(() => Model.Titolo)"
                                                    Clearable=true
                                                    Immediate="true"
                                                    TextChanged="@(_ => ValidateForm())">
                                        
                                    </MudTextField>

                                    <MudTextField @bind-Value="Model.Note" Label="Note" Variant="Variant.Outlined" Lines="2" For="(() => Model.Note)" Clearable=true Class="mt-7" Typo="Typo.body2">
                                    </MudTextField>

                                    <MudTextField @bind-Value="Model.Descrizione"
                                        Label="Query SQL" 
                                        Variant="Variant.Outlined" 
                                        Lines="8" 
                                        Culture="@(new CultureInfo("en-US"))" 
                                        Typo="Typo.body2"
                                        Required=true   
                                        For="(() => Model.Descrizione)"
                                        Clearable=true 
                                        Class="mt-5"
                                        Immediate="true"
                                        TextChanged="@(_ => ValidateForm())">
                                    </MudTextField>

                                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="justify-end d-flex align-center ml-auto" Disabled="@(!IsFormValid)" StartIcon="@Icons.Material.Filled.Save">Salva</MudButton>

                                    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                                    {
                                        <p style="color:red;">@ErrorMessage</p>
                                    }

                                </MudItem>

                            </MudGrid>

                        </MudFocusTrap>
                    </EditForm>

                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem sm="12" xs="12" md="12" lg="12" xl="12">
            <MudDataGrid T="QueryProcedureLavorazioniDto" Items="@LstQueryProcedureLavorazioniDto" ReadOnly="false" Filterable="true" FilterMode="@FilterMode" FilterCaseSensitivity="@CaseSensitivity"
            Dense=true Bordered=true EditMode="DataGridEditMode.Form" EditTrigger="DataGridEditTrigger.Manual" Hover=true RowsPerPage=5 EditDialogOptions="@maxWidth" Breakpoint="Breakpoint.Sm"
            StartedEditingItem="@StartedEditingItem" CanceledEditingItem="@CanceledEditingItem" CommittedItemChanges="@OnUpdateRow" Outlined=false Height="100%">

                <ToolBarContent>
                    <MudText Typo="Typo.h6">Query Lavorazioni</MudText>
                </ToolBarContent>

                <Columns>
                    <HierarchyColumn T="QueryProcedureLavorazioniDto" />
                    <PropertyColumn Property="x => x.IdQuery" Title="ID" Editable=false Sortable="false" Filterable="false" Style="width:30px">
                        <EditTemplate>
                        </EditTemplate>
                    </PropertyColumn>
                    <PropertyColumn Property="x => x.NomeProcedura" Title="Lavorazione" Editable=false Sortable="true" Filterable="true" Style="width:30px" />
                    <PropertyColumn Property="x => x.Titolo" Title="Titolo" Editable=false Sortable="false" Filterable="false">
                        <EditTemplate>
                            <MudTextField @bind-Value="@context.Item.Titolo" Label="Titolo" Variant="Variant.Text"
                            Required=true
                            For="(() => Model!.Titolo)">
                            </MudTextField>
                        </EditTemplate>
                    </PropertyColumn>

                    <PropertyColumn Property="x => x.Centro" Title="Centro" Editable=false Sortable="true" Filterable="false" Style="width:30px" />

                    <PropertyColumn Property="x => x.Note" Title="Note" Editable=false Sortable="false" Filterable="false"  Class="mt-7" >
                        <EditTemplate>
                            <MudTextField Typo="Typo.body2" Lines="2" Clearable=true @bind-Value="@context.Item!.Note" Label="Note" Variant="Variant.Outlined"></MudTextField>
                        </EditTemplate>
                    </PropertyColumn>

                    <TemplateColumn CellClass="d-flex justify-end mt-2" HeaderStyle="width:50px" Filterable="false" Hidden=true>
                        <EditTemplate>
                            <MudTextField @bind-Value="@context.Item.Descrizione" Label="Query SQL" Variant="Variant.Outlined" Lines="20" Clearable=true
                            Required=true
                            For="(() => Model!.Descrizione)">
                            </MudTextField>
                        </EditTemplate>
                    </TemplateColumn>

                    <TemplateColumn  HeaderStyle="width:50px" Filterable="false">
                        <CellTemplate>
                            <MudStack Row>
                                <MudTooltip Text="Edit">
                                    <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                                </MudTooltip>
                                <MudDivider Vertical="true" FlexItem="true" />
                                <MudTooltip Text="Delete">
                                    <MudIconButton OnClick="@((e) => DeleteRecordAsync(@context.Item.IdQuery, @context.Item.Titolo!, @context.Item.NomeProcedura!))" Size="@Size.Medium" Icon="@Icons.Material.Filled.Delete" aria-label="delete" Color="Color.Error">Delete Records</MudIconButton>
                                </MudTooltip>
                            </MudStack>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>

                <ChildRowContent Context="context3">
                    <MudCard Elevation="0">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudPaper Class="d-flex justify-space-between flex-grow-1 gap-4" Elevation="0">
                                    <MudText Typo="Typo.subtitle2">@context3.Item.Centro -  @context3.Item.NomeProcedura  -  @context3.Item.Titolo</MudText>
                                    <CopyToClipboard TextToCopy="@context3.Item.Descrizione" />
                                </MudPaper>   
                                <MudText Typo="Typo.body2"><b>Note: </b> @context3.Item.Note</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText Typo="Typo.body1">@context3.Item.Descrizione</MudText>
                        </MudCardContent>
                    </MudCard>
                </ChildRowContent>

                <PagerContent>
                    <MudDataGridPager T="QueryProcedureLavorazioniDto" />
                </PagerContent>

            </MudDataGrid>
        </MudItem>
    </MudGrid>

</MudContainer>



@code {

    protected MudAutocomplete<string>? RefLavorazioni;
    protected IEnumerable<QueryProcedureLavorazioniDto> LstQueryProcedureLavorazioniDto { get; set; } = Enumerable.Empty<QueryProcedureLavorazioniDto>();
    protected DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Large };

    private readonly CancellationTokenSource _cts = new();

    protected override async Task OnInitializedAsync()
    {
        await RunWithOverlay(async () =>
        {
            UiState?.SetMenuDisabled(true);
            SetEditContext();

            // Avvia tutte le chiamate asincrone in parallelo
            var procedureLavorazioniTask = ServiceProcedureLavorazioni.GetAllProcedureLavorazioniDtoByUserAsync();
            var fasiTask = ServiceFasiLavorazioni.GetFasiLavorazioneAsync();
            var queryTask = ServiceQueryProcedureLavorazioni.GetAllQueryProcedureLavorazioniDtoAsync();

            await Task.WhenAll(procedureLavorazioniTask, fasiTask, queryTask).WaitAsync(_cts.Token);

            ListProcedureLavorazioniDto = procedureLavorazioniTask.Result;
            SetSelectLavorazione(ListProcedureLavorazioniDto!);

            ListFasiLavorazione = fasiTask.Result;
            LstQueryProcedureLavorazioniDto = queryTask.Result;

            Layout!.ResetFooter();
            UiState?.SetMenuDisabled(false);
        }, "Caricamento dati...");
    }

    protected async Task GetListQuery()
    {
        LstQueryProcedureLavorazioniDto = await ServiceQueryProcedureLavorazioni.GetAllQueryProcedureLavorazioniDtoAsync();
    }

    protected async Task DeleteRecordAsync(int idQuery, string titolo, string nomeProcedura)
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Eliminare : " + nomeProcedura + " - " + titolo + " ?");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Medium };
        var dialog = await DialogService!.ShowAsync<Dialog>("Elimina Record", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            try
            {
                UiState?.ShowOverlay("Eliminazione in corso...");
                UiState?.SetMenuDisabled(true);

                await ServiceQueryProcedureLavorazioni.DeleteQueryProcedureLavorazioniAsync(idQuery);
                await GetListQuery();

                UiState?.HideOverlay();
                UiState?.SetMenuDisabled(false);

                base.ErrorMessage = "";
                Snackbar!.Clear();
                Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomCenter;
                Snackbar.Add("Query eliminata", Severity.Success);

            }
            catch (DbUpdateException ex)
                when ((ex.InnerException as SqlException)?.Number == 547)
            {
                UiState?.HideOverlay();
                UiState?.SetMenuDisabled(false);
                Logger!.LogError(ex.Message.ToString());
                await NotificationDialog!.ShowNotification("Impossibile eliminare: la query è utilizzata in configurazioni fonti dati o altri riferimenti.", "OK", Color.Error, "Error");
            }
            catch (Exception ex)
            {
                UiState?.HideOverlay();
                UiState?.SetMenuDisabled(false);
                Logger!.LogError(ex.Message.ToString());
                await NotificationDialog!.ShowNotification("Error on Delete", "OK", Color.Error, "Error");
            }
        }
    }

    protected async Task HandleValidSubmit()
    {
        try
        {
            if (!string.IsNullOrEmpty(Model!.Descrizione))
            {
                UiState?.SetMenuDisabled(true);
                UiState?.ShowOverlay("Inserimento in corso...");
                Model.DataCreazioneQuery = DateTime.Now;
                await ServiceQueryProcedureLavorazioni.AddQueryProcedureLavorazioniAsync(Model);
                await GetListQuery();

                UiState?.SetMenuDisabled(false);
                UiState?.HideOverlay();
                UiState?.ShowSnackbar("Nuova Query archiviata", Severity.Success);

                Model = new();
                IsFormValid = false;

                base.ErrorMessage = "";
            }
        }
        catch (Exception ex)
        {
            ResetFormModel();
            await HandleExceptionFormAsync(ex);
        }
    }

    protected async Task OnUpdateRow(QueryProcedureLavorazioniDto item)
    {
        try
        {
            if (!string.IsNullOrEmpty(item.Descrizione) && !string.IsNullOrEmpty(item.Titolo))
            {
                await ServiceQueryProcedureLavorazioni.UpdateQueryProcedureLavorazioniAsync(item);
                UiState?.ShowSnackbar("Query aggiornata", Severity.Success);
            }
            else
            {
                item.Descrizione = ValueBeforeEdit!.Descrizione;
                item.Titolo = ValueBeforeEdit.Titolo;

                await NotificationDialog!.ShowNotification("Il campo titolo o descrizione non possono essere vuoti", "OK", Color.Error, "Error");
            }

            await GetListQuery();
        }
        catch (Exception ex)
        {
            ResetFormModel();
            await HandleExceptionFormAsync(ex);
        }
    }

    async Task OnValueChangedLavorazione(string lavorazione)
    {
        Model!.NomeProcedura = lavorazione;
        try
        {
            if(!string.IsNullOrEmpty(lavorazione))
            {
                int? idproceduraLavorazione = ListProcedureLavorazioniDto!.FirstOrDefault(x => x.NomeProcedura == lavorazione)!.IdproceduraLavorazione;
                Model.IdproceduraLavorazione = (int)idproceduraLavorazione;
            }
            else
            {
                ResetFormModel();
            }       
  
        }
        catch (Exception ex)
        {
            await HandleExceptionFormAsync(ex);
        }
    }

    private void ValidateForm()
    {
        // Forza la validazione dell'EditContext
        EditContext?.Validate();

        // Controlla esplicitamente che i campi obbligatori siano compilati
        bool isValid = !string.IsNullOrWhiteSpace(Model?.NomeProcedura) &&
                      !string.IsNullOrWhiteSpace(Model?.Titolo) &&
                      !string.IsNullOrWhiteSpace(Model?.Descrizione);

        // Aggiorna lo stato del pulsante
        IsFormValid = isValid && (EditContext?.Validate() ?? false);
    }

    public ValueTask DisposeAsync()
    {
        _cts.Cancel();
        return ValueTask.CompletedTask;
    }

}


