@page "/grafico-produzione"
@using BlazorDematReports.Core.Application.Dto
@inject IJSRuntime JSRuntime

@inject BlazorDematReports.Core.Services.Interfaces.IDataService.IServiceCentri ServiceCentri
@inject BlazorDematReports.Core.Services.Interfaces.IDataService.IServiceConfigReportDocumenti ServiceConfigReportDocumenti
@attribute [Authorize(Roles = "OWNER, ADMIN, SUPERVISOR,CAPOTURNO")]
@inherits BaseComponentPage<PageGraficoClientiDocumenti,ReportAnnualeDto,ReportAnnualeDto>


<MudText Typo="Typo.h4" Class="titolo ml-4" >Grafico Clienti Documenti *</MudText>
<MudText Typo="Typo.subtitle2" Class="ml-4 mt-3">*Lavorazioni raggruppate per Procedure Clienti</MudText>

<MudDivider Class="border-solid border-1 mud-border-primary "></MudDivider>

<MudContainer MaxWidth="MaxWidth.False" >
    
    <MudGrid Class="mt-1 ">
        @*form*@
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
            <MudCard Style="height: 100%">
                <MudCardContent>
                    <EditForm EditContext="@EditContext" OnValidSubmit="HandleValidSubmitAsync">
                            <PageGestioneOperatoriValidationProvider />

                            <div>
                                <div class="d-inline-flex pa-2">
                                    <MudDatePicker Label="Data" @bind-Date="@Model!.StartDataLavorazione" Required="true" />
                                </div>
                                <div class="d-inline-flex pa-2">
                                    <MudDatePicker Label="Data" @bind-Date="@Model.EndDataLavorazione" Required="true" />
                                </div>
                                <div class="d-inline-flex pa-2">
                                    <MudSelect T=int? @bind-Value="Model.IdCentro" Label="Select Centro" Style="width:200px"
                                               Required=true
                                           For="(() => Model.IdCentro)"
                                               Clearable=true>

                                    @if (ListCentri != null)
                                    {
                                        @foreach (CentriLavorazione item in ListCentri)
                                        {
                                            <MudSelectItem T=int? Value="@item.Idcentro">@item.Centro</MudSelectItem>
                                        }
                                    }

                                    </MudSelect>
                                </div>

                                <div class="d-inline-flex pa-2 "><MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.TableView" Disabled="@(!IsFormValid)">Report</MudButton></div>
                            </div>

                        @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                        {
                            <p style="color:red;">@ErrorMessage</p>
                        }

                        </EditForm>
                </MudCardContent>
            </MudCard>
        </MudItem>

        @*chart line*@
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
            <MudCard Elevation="2">
                <MudCardContent Class="d-flex justify-start flex-grow-1 gap-4 align-center ">
                    <div id="mainChartLine" style="width: 100%;height:250px;"></div>
                </MudCardContent>
            </MudCard>
        </MudItem>

        @*pie charts*@
        <MudItem xs="12" sm="12" md="12" lg="12">
            <MudCard >
                <MudCardContent Class="d-flex justify-start flex-grow-1 gap-4 align-center ">
                    <MudGrid>
                        <MudItem xs="12" sm="12" md="12" lg="12" xl="12">
                            <MudCard Elevation="0">
                                <MudCardContent Class="d-flex justify-start flex-grow-1 gap-4 align-center">
                                    @if (Load)
                                    {
                                        <MudText Typo="Typo.subtitle1" Align="Align.Center"><b>Lavorazioni sopra la soglia del @slider.ToString()% del totale</b></MudText>
                                        <MudSlider Class="align-center" Size="Size.Medium" TickMarks="true" Value="@slider" ValueChanged="((int arg) => OnValueChanged(arg))" Min="1" Max="10" Color="Color.Info" Variant="Variant.Filled" Style="width:300px"></MudSlider>
                                    }
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" lg="4" xl="4">
                            <MudCard Elevation="3" Class="d-flex align-center flex-grow-1">
                                <div id="mainChartPubblicati" style="width: 100%;height:600px;"></div>
                            </MudCard>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" lg="4" xl="4">
                            <MudCard Elevation="3" Class="d-flex align-center flex-grow-1">
                                <div id="mainChartFogliScansionati" style="width: 100%;height:600px;"></div>
                            </MudCard>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" lg="4" xl="4">
                            <MudCard Elevation="3" Class="d-flex align-center flex-grow-1">
                                <div id="mainChartOre" style="width: 100%;height:600px;"></div>
                            </MudCard>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="12" md="12" lg="12" xl="12"></MudItem>

    </MudGrid>

</MudContainer>


@code{


    List<CentriLavorazione> LstCentri = new();
    List<ReportDocumenti> LstDocumenti = new();
    List<ReportFogli> LstFogliScansionati = new();
    List<ReportEsportazioneOreDocumenti> lstOre = new();

    bool Load { get; set; } = false;
    int slider = 2;


    protected override async Task OnInitializedAsync()
    {
        await RunWithOverlay(async () =>
           {
               SetEditContext();

               Model!.StartDataLavorazione = DateTime.Now.Date;
               Model!.EndDataLavorazione = DateTime.Now.Date;
               ListCentri = await ServiceCentri.GetCentriByUserAsync();

           }, "Caricamento dati..."); 
    }

    void OnValueChanged(int percentuale)
    {
        slider = percentuale;

        var newList = ServiceConfigReportDocumenti.GetGraficoDocumentiModified(LstDocumenti, percentuale);
        var volume = newList.Sum(x => x.Documenti)!.Value.ToString("N0");
        string json = JsonConvert.SerializeObject(newList);
        Task.Run(() => JSRuntime.InvokeVoidAsync("CreateEChartProduzioneDocumentiPubblicati", json, Model!.StartDataLavorazione!.Value.ToShortDateString(), Model.EndDataLavorazione!.Value.ToShortDateString(), volume)).Wait();

        var newListFogli = ServiceConfigReportDocumenti.GetGraficoFogliModified(LstFogliScansionati, percentuale);
        var volumeFogli = newListFogli.Sum(x => x.Fogli)!.Value.ToString("N0");
        string jsonFogli = JsonConvert.SerializeObject(newListFogli);
        Task.Run(() => JSRuntime.InvokeVoidAsync("CreateEChartProduzioneFogliScansionati", jsonFogli, Model!.StartDataLavorazione!.Value.ToShortDateString(), Model.EndDataLavorazione!.Value.ToShortDateString(), volumeFogli)).Wait();

        var newListOre = ServiceConfigReportDocumenti.GetGraficoOreModified(lstOre, slider);
        var volumeOre = newListOre.Sum(x => x.TempoLavOreCent).ToString("N0");
        string jsonOre = JsonConvert.SerializeObject(newListOre);
        Task.Run(() => JSRuntime.InvokeVoidAsync("CreateEChartProduzioneOre", jsonOre, Model!.StartDataLavorazione!.Value.ToShortDateString(), Model.EndDataLavorazione!.Value.ToShortDateString(), volumeOre)).Wait();

    }

    protected async Task HandleValidSubmitAsync()
    {
        try
        {
            UiState?.SetMenuDisabled(true);
            UiState?.ShowOverlay("Loading...");
            slider = 2;

            LstDocumenti = await ServiceConfigReportDocumenti.GetGraficoDocumenti(Model!.StartDataLavorazione!.Value, Model.EndDataLavorazione!.Value, Model.IdCentro!.Value);
            if (LstDocumenti != null)
            {
                var newList = ServiceConfigReportDocumenti.GetGraficoDocumentiModified(LstDocumenti, slider);
                var documentiPubblicati = newList.Sum(x => x.Documenti)!.Value.ToString("N0");
                string jsonDoc = JsonConvert.SerializeObject(newList);
                await JSRuntime.InvokeVoidAsync("CreateEChartProduzioneDocumentiPubblicati", jsonDoc, Model.StartDataLavorazione!.Value.ToShortDateString(), Model.EndDataLavorazione!.Value.ToShortDateString(), documentiPubblicati);
            }

            LstFogliScansionati = await ServiceConfigReportDocumenti.GetGraficoFogliScansionati(Model!.StartDataLavorazione!.Value, Model.EndDataLavorazione!.Value, Model.IdCentro!.Value);
            if (LstFogliScansionati != null)
            {
                var ListFogliScansionatiModified = ServiceConfigReportDocumenti.GetGraficoFogliModified(LstFogliScansionati, slider);
                var fogliScansionati = ListFogliScansionatiModified.Sum(x => x.Fogli)!.Value.ToString("N0");
                string jsonScansionati = JsonConvert.SerializeObject(ListFogliScansionatiModified);
                await JSRuntime.InvokeVoidAsync("CreateEChartProduzioneFogliScansionati", jsonScansionati, Model.StartDataLavorazione!.Value.ToShortDateString(), Model.EndDataLavorazione!.Value.ToShortDateString(), fogliScansionati);
            }

            lstOre = await ServiceConfigReportDocumenti.GetGraficoOreAsync(Model!.StartDataLavorazione!.Value, Model.EndDataLavorazione!.Value, Model.IdCentro!.Value);
            if (lstOre != null)
            {
                var newListOre = ServiceConfigReportDocumenti.GetGraficoOreModified(lstOre, slider);
                var volume = lstOre.Sum(x => x.TempoLavOreCent).ToString("N0");
                string jsonOre = JsonConvert.SerializeObject(newListOre);
                await JSRuntime.InvokeVoidAsync("CreateEChartProduzioneOre", jsonOre, Model.StartDataLavorazione!.Value.ToShortDateString(), Model.EndDataLavorazione!.Value.ToShortDateString(), volume);
            }

            var listDocumenti = await ServiceConfigReportDocumenti.GetGraficoDocumentiPeriodo(Model!.StartDataLavorazione!.Value, Model.EndDataLavorazione!.Value, Model.IdCentro!.Value);
            var listFogli = await ServiceConfigReportDocumenti.GetGraficoFogliScansionatiPeriodo(Model!.StartDataLavorazione!.Value, Model.EndDataLavorazione!.Value, Model.IdCentro!.Value);
            var listOreLavorazioni = await ServiceConfigReportDocumenti.GetGraficoOreLavorazioniPeriodo(Model!.StartDataLavorazione!.Value, Model.EndDataLavorazione!.Value, Model.IdCentro!.Value);

            var lstStacked = ServiceConfigReportDocumenti.GetChartStackdLine(listDocumenti, listFogli, listOreLavorazioni);
            string json = JsonConvert.SerializeObject(lstStacked);
            // Funzione JS ora definita nel nuovo file
            await JSRuntime.InvokeVoidAsync("CreateEChartStackedLine", json, "", false);

            Load = true;
            Layout!.UpdateFooter();
            UiState?.HideOverlay();
            UiState?.SetMenuDisabled(false);
        }
        catch (Exception ex)
        {
            await HandleExceptionFormAsync(ex);
        }
    }
}
